#btn-back-to-top {
    position: fixed;
    display: none;
    z-index: 1;
    border-color: transparent;
    background-color: #72f5c4;
    bottom: 40px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    line-height: 38px;
    right: 30px;
    /*text-align: center;*/
    /*width: 40px;*/
    border-radius: 8px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

/** {*/
/*    overflow-x: hidden;*/
/*}*/

::-webkit-scrollbar {
    width: 0px;
}

main {
 min-height: 80vh;
}

/*footer*/
#footer {
    min-height: 20vh;
    text-align: center;
    padding-bottom: 1.2rem;
    background: #4f4e4e;
    padding-top: 3rem;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    width: 100%;
    z-index: -1;
}

#footer a {
    text-decoration: none;
    color: #fff;
}

#footer .copyright {
    color: white;
    font-size: 15px;
    opacity: 0.8;
    margin-top: 20px;
}

.footer-social-nav li {
    list-style: none;
    float: left;
}

.footer-social-nav li a {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.footer-social-nav li a img {
    width: 24px;
    height: 24px;
}
