body{
    font-family: Arial;
}

/*footer*/
#footer {
    background: #1EC9A1;
    padding-top: 3rem;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer a {
    text-decoration: none;
    color: #fff;
}

#footer .copyright {
    color: white;
    font-size: 12px;
    opacity: 0.8;
    margin-top: 20px;
}

.footer-social-nav li {
    list-style: none;
    float: left;
}

.footer-social-nav li a {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.footer-social-nav li a img {
    width: 24px;
    height: 24px;
}

a{
    text-decoration: none;
    color: #1a1e21;
    font-size: 1.1rem;
}
