/*primary*/
.btn-blue {
    background-color: #4DB2E3;
    color: #ffffff;
    border-color: #52c1f7;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.btn-blue:hover {
    background-color: #70ccf9 !important;
    color: #ffffff !important;
    cursor: pointer;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 20%);
}

/*warning*/
.btn-edit {
    background-color: #ffc107;
    color: black;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.btn-edit:hover {
    background-color: #fccc4a !important;
    color: #080707 !important;
    border-color: #ffc107 !important;
    cursor: pointer;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 20%);
}

/*success*/
.btn-green {
    background-color: #1DC9A1;
    color: #ffffff;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.btn-green:hover {
    background-color: #16b993 !important;
    color: #ffffff !important;
    cursor: pointer;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 20%);
}

/*danger*/
.btn-red {
    background-color: #F76E6E;
    color: #ffffff;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.btn-red:hover {
    background-color: #e34b4b !important;
    color: #ffffff !important;
    cursor: pointer;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 20%);
}

/*danger*/
.btn-outline-red {
    background-color: #ffffff;
    border-color: #F76E6E;
    color: #080707;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.btn-outline-red:hover {
    background-color: #e34b4b !important;
    color: #ffffff !important;
    cursor: pointer;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 20%);
}
