body{
    font-family: "Open Sans", sans-serif;
}


.login-card {
    padding-top: 7.2rem;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    .login-card {
        padding-top: 1rem !important;
    }
}

/*footer*/
#footer {
    background: #4f4e4e;
    padding-top: 3rem;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer a {
    text-decoration: none;
    color: #fff;
}

#footer .copyright {
    color: white;
    font-size: 15px;
    opacity: 0.8;
    margin-top: 20px;
}

.footer-social-nav li {
    list-style: none;
    float: left;
}

.footer-social-nav li a {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.footer-social-nav li a img {
    width: 24px;
    height: 24px;
}

a{
    text-decoration: none;
    color: #1a1e21;
    font-size: 1.1rem;
}

a:hover {
    color: #1a1e21;
}
