* {
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e7e6e6;
}

/*pagination*/
.pagination {
    --bs-pagination-padding-x: 1.2rem !important;
    --bs-pagination-padding-y: 0.8rem !important;
}

.page-link.active, .active > .page-link {
    z-index: 3;
    color: #ffffff !important;
    background-color: #4DB2E3 !important;
    border-color: #4DB2E3 !important
    /*background-color: #1DC9A1 !important;*/
    /*border-color: #1DC9A1 !important;*/
}

.page-link {
    /*color: #1DC9A1 !important;*/
    color: #4DB2E3 !important;
    border-radius: 5px !important;
    margin: 4px;
}
.page-link:hover {
    background-color: #4DB2E3;
    color: #fff !important;
}

.bg-green {
    background-color: #1DC9A1;
}

.bg-blue {
    background-color: #4DB2E3;
}

.color-blue {
    color: #4DB2E3;
}

/*nav-bar*/
.dropdown-menu {
    min-width: 7rem !important;
    top: 80% !important;
    right: 8px !important;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*h tag*/
h1, h2, h3, h4, h5, h6 {
    color: rgba(0, 0, 0, 0.8);
    line-height: 2.3;
    font-weight: 650;
}
