* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #e7e6e6;
}

/*pagination*/
.page-link.active, .active > .page-link {
    z-index: 3;
    color: #ffffff !important;
    background-color: #1DC9A1 !important;
    border-color: #1DC9A1 !important;
}

.page-link {
    color: #1DC9A1 !important;
}

.bg-green {
    background-color: #1DC9A1;
}
