name: Deployment
on:
  push:
    branches:
      - master
jobs:
  test:
    name: Testing before Deployment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: pdo, pdo_mysql
          tools: composer:v2
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: Generate key
        run: php artisan key:generate
      - name: Run Test
        run: php artisan test
      - name: Install Dependencies
        run: composer install --ignore-platform-req=ext-pcntl

  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: ssh into Production Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/html/blog
            git pull
            composer install
            php artisan optimize:clear
            php artisan migrate
            php artisan optimize
            echo "Deploy successful"

